.btn {
  border-radius: 50px;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  background: #e74c3c;
  padding: 5px 13px;
  text-decoration: none;
}

.btn:hover {
  background: #ff1900;
  text-decoration: none;
}

.fa-arrow-circle-left {
  color: #e74c3c;
}

.fa-arrow-circle-left:hover {
  color: #ff1900;
}

.container-main {
  /* width: 850px; */
  /* width: 1080px; */
  width: 900px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  gap: 40px;
  margin-top: 25vh;
}

.container-head {
  grid-area: 1/1/2/4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container1-in {
  display: inline-block;
  font-size: 60px;
}

.container1-a {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #342c2c;
  margin-right: 10px;
}

.container1-b {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #707070;
}

.container2 {
  margin-right: 50px;
}

.container2-in {
  display: inline-block;
}

.container2-a {
  margin-right: 10px;
}

.container2-b-in {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #707070;
}

.container-body {
  grid-column: 1/4;
  /* display: grid;
                        grid-template-columns: repeat(3, 5fr); */
  gap: 65px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-body-in {
  border: #e74c3c solid 1px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.2);
  /* width: 28%; */
  width: 28%;
}

.container-body-in-2 {
  border: #e74c3c solid 1px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.2);
  width: 52%;
}

.container-body-in-3 {
  border: #e74c3c solid 1px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.2);
  /* width: 80%; */
}

.common-a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 25px;
  border-bottom: #d2d2d2 2px groove;
  padding-bottom: 15px;
  padding-right: 20px;
}

.container-link {
  text-decoration: none;
  color: #e74c3c;
}

.common-b {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #ff0000;
  text-decoration: line-through #ff0000 solid 3px;
  text-align: right;
  margin-top: 40px;
  margin-right: 15px;
}

.common-c {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #342c2c;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 160px;
}

.pending-task {
  transform: scale(1.6) translateY(-1px);
  margin-right: 10px;
}

.container-main1 {
  width: 850px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  gap: 40px;
  margin-top: 25vh;
}

.main1-child1 {
  grid-area: 1/1/2/5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.hidden-child1 {
  display: none;
}

.child1-a {
  text-decoration: line-through solid 2px #b7b7b7;
  color: transparent;
}

.child1-b {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #342c2c;
}

.child1-c {
  text-decoration: line-through solid 2px #b7b7b7;
  color: transparent;
}

.main1-child2 {
  grid-area: 2/1/3/5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.child2-b-in {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #707070;
  margin-left: 20px;
}

.main1-body {
  grid-column: 1/5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main1-child3 {
  position: relative;
}

.child3-a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #e74c3c;
  margin-left: 120px;
  margin-top: 40px;
  border-bottom: #999595 2px solid;
  padding-bottom: 15px;
  padding-right: 120px;
}

.child3-b {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #e74c3c;
  text-decoration: line-through #e74c3c solid 3px;
  text-align: center;
  margin-top: 40px;
  margin-right: 15px;
}

.child3-c {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #342c2c;
  margin-top: 20px;
  margin-bottom: 180px;
  text-align: center;
  margin-right: 80px;
}

.child3-d {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#blur-body1,
#blur-html1 {
  height: 100%;
}

.blur-backdrop1 {
  background-image: url("../images/image1.PNG");
  z-index: 0;
  filter: blur(8px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-box-main {
  height: 250px;
  width: 500px;
  margin: auto;
  z-index: 3;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur-box1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #e74c3c;
  text-align: center;
  margin: 30px auto;
}

.blur-text {
  border: #e74c3c solid 1px;
  border-radius: 5px;
  box-shadow: 4px 4px 7px 0px rgb(0 0 0 / 20%);
  height: 35px;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.btn1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
}

#blur-body2,
#blur-html2 {
  height: 100%;
}

.blur-backdrop2 {
  background-image: url("../images/image2.PNG");
  z-index: 0;
  filter: blur(8px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#blur-body3,
#blur-html3 {
  height: 100%;
}

.blur-backdrop3 {
  background-image: url("../images/image3.PNG");
  z-index: 0;
  filter: blur(8px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#blur-body4,
#blur-html4 {
  height: 100%;
}

.blur-backdrop4 {
  background-image: url("../images/image4.png");
  z-index: 0;
  filter: blur(8px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#blur-body5,
#blur-html5 {
  height: 100%;
}

.blur-backdrop5 {
  background-image: url("../images/image5.png");
  z-index: 0;
  filter: blur(8px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#blur-body6,
#blur-html6 {
  height: 100%;
}

.blur-backdrop6 {
  background-image: url("../images/image6.png");
  z-index: 0;
  filter: blur(8px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#blur-body7,
#blur-html7 {
  height: 100%;
}

.blur-backdrop7 {
  background-image: url("../images/image7.png");
  z-index: 0;
  filter: blur(8px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*////////////////////////
Media Query Starts Here///
////////////////////////// */

@media screen and (min-width: 280px) and (max-width: 767.9px) and (min-height: 568px) and (max-height: 823px) {
  .container-main {
    margin-top: 10vh;
    gap: 100px;
  }

  .container-main1 {
    margin-top: 10vh;
    gap: 120px;
  }

  .container-body {
    flex-direction: column;
    align-items: center;
  }

  .container-body-in {
    width: 70%;
  }

  .container-body-in-2 {
    width: 75%;
  }

  .container-link {
    color: #8d7673;
  }

  .container1-in {
    font-size: 100px;
    margin-left: 30px;
  }

  .child1-a {
    display: none;
  }

  .child1-b {
    font-size: 105px;
  }

  .child1-c {
    display: none;
  }

  .child3-a {
    font-size: 80px;
    margin-left: 80px;
    padding-right: 0px;
  }

  .child3-b {
    font-size: 65px;
  }

  .child3-c {
    font-size: 65px;
    margin-bottom: 500px;
  }

  .container2-b {
    display: none;
  }

  .common-a {
    font-size: 60px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-bottom: none;
  }

  .common-b {
    display: none;
  }

  .common-c {
    display: none;
  }

  .main1-child2 {
    display: none;
  }

  .pending-task {
    transform: scale(4) translateY(-4px);
    margin-right: 25px;
  }

  .blur-box-main {
    font-size: 22px;
    padding: 10px 15px;
    width: 220px;
    height: 200px;
  }

  .blur-box1 {
    margin: 20px auto;
  }

  .blur-text {
    height: 30px;
  }

  .blur-backdrop1 {
    background-image: url("../images/image15.png");
  }

  .blur-backdrop2 {
    background-image: url("../images/image16.png");
  }

  .blur-backdrop3 {
    background-image: url("../images/image17.png");
  }

  .blur-backdrop4 {
    background-image: url("../images/image18.png");
  }

  .blur-backdrop5 {
    background-image: url("../images/image19.png");
  }

  .blur-backdrop6 {
    background-image: url("../images/image20.png");
  }

  .blur-backdrop7 {
    background-image: url("../images/image21.png");
  }

  .hidden-child1 {
    display: inline-block;
  }

  .btn {
    font-size: 90px;
    padding: 0px 25px;
  }

  .btn1 {
    font-size: 22px;
    padding: 10px 15px;
    bottom: 15%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 1024px) and (max-height: 1366px) {
  .container-main {
    margin-top: 15vh;
  }

  .container-main1 {
    margin-top: 10vh;
    gap: 90px;
  }

  .container-body {
    justify-content: center;
  }

  .container-body-in {
    width: 40%;
  }

  .container1-in {
    font-size: 100px;
    margin-left: 40px;
  }

  .container2-b {
    display: none;
  }

  .container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .common-a {
    font-size: 50px;
  }

  .common-b {
    font-size: 40px;
  }

  .common-c {
    font-size: 40px;
    margin-left: 30px;
  }

  .main1-child2 {
    display: none;
  }

  .child1-a {
    display: none;
  }

  .child1-c {
    display: none;
  }

  .child3-a {
    font-size: 60px;
    margin-left: 60px;
    padding-right: 0px;
  }

  .child3-b {
    font-size: 50px;
  }

  .child3-c {
    font-size: 50px;
    margin-bottom: 400px;
    margin-right: 20px;
  }

  .hidden-child1 {
    display: inline-block;
  }

  .pending-task {
    transform: scale(3) translateY(-3px);
    margin-right: 20px;
  }

  .blur-box-main {
    height: 350px;
    width: 80%;
  }

  .blur-box1 {
    font-size: 50px;
  }

  .blur-text {
    height: 60px;
  }

  .blur-backdrop1 {
    background-image: url("../images/image8.png");
  }

  .blur-backdrop2 {
    background-image: url("../images/image9.png");
  }

  .blur-backdrop3 {
    background-image: url("../images/image10.png");
  }

  .blur-backdrop4 {
    background-image: url("../images/image11.png");
  }

  .blur-backdrop5 {
    background-image: url("../images/image12.png");
  }

  .blur-backdrop6 {
    background-image: url("../images/image13.png");
  }

  .blur-backdrop7 {
    background-image: url("../images/image14.png");
  }

  .btn {
    font-size: 60px;
    padding: 10px 25px;
  }

  .btn1 {
    bottom: 15%;
    font-size: 50px;
  }
}
